.FiveBoxes {
  width: cover;
  display: flex;
  justify-content: center;
}

.Box {
  margin-right: 20px;
  margin-left: 20px;
  z-index:1;
  background-color: white;
  width: 216px;
  height: 210px;
  border-radius: 5px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}
