.FiveBoxes {
  width: cover;
  display: flex;
  justify-content: center;
  margin-top: -120px;
  margin-left: 5px;
  margin-right: 5px;
  height: 300px;
}

.Box {
  margin-right: 10px;
  margin-left: 10px;
  z-index:1;
  background-color: white;
  width: 206px;
  height: 216px;
  border-radius: 5px;
  border: 1px solid #DCDCDC;
}

.loadbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.GridLoader {
   color:"white";
   size:24px;
   margin:4px;
}
