.TopLayer {
  margin-top: 10px;
  height: 42px;
  display: flex;
  justify-content: space-between;
}

.TopLayer2{
  display: flex;
  justify-content: flex-start;
  font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.imageAsset {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.TopLayerName {
  color: #585858;
  white-space: nowrap;
  margin-left: 8px;
}

.TwentyFour {
  float: right;
  height: 17px;
  font-size: 12px;
  width: 25px;
  color: white;
  background-color: rgb(218, 225, 233);
  border-radius: 3px;
  text-align: center;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
