.navBar{
  height: 63px;
  border-bottom: 1px solid #f4f7fa;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.unorderedListNavBar {
  display: flex;
  width: 50%;

}

.listItemNavBar{
  margin-right: 35px;
  font-family: "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #7d95b6;
  display: flex;
  align-items: center;
}

.listItemNavBar:active, .listItemNavBar:focus, .listItemNavBar:hover {
  color: #1652f0;
  border-bottom: 1px solid #1652f0;
}

.svgNav {
  margin-right: 10px;
  background-color: #f4f7fa;
}
