.RecentActivity {
  font-family: "Avenir Next", -apple-system, system-ui, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
  width: 40%;
  height: 458px;
  margin-bottom: 110px;
  margin-left: 20px;
}

.headerRA{
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  height: 54px;
  font-size: 18px;
  color: #1652f0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.recentActivityTableRow {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  height: 48px;
  padding: 20px;
  font-size: 16px;
  width: 100%;
}
.dateRecentActivity {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 29px;
  width: 29px;
  margin-top: 5px;
}

.dateRecentActivityMonth{
  color: rgb(78, 92, 110);
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
}
.dateRecentActivityDay{
  color: #9ba6b2;
  font-size: 22px;
}
.recentActivitySVG {
    width: 42px;
    height: 42px;
    stroke-width: 0.8;
    margin-right: 20px;
    margin-left: 20px;
}

.footerRA{
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #DCDCDC;
  height: 54px;
  font-size: 16px;
  color: #7d95b6;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  fill: #7d95b6;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.footerRATransform:active, .footerRATransform:focus, .footerRATransform:hover {
    color: #1652f0;
    transform: scale(1.10);
    font-weight: 500;
    fill: #1652f0;
    text-decoration: none;
}

.descriptionRecentActivity{
  display: flex;
  flex-direction: column;
  width: 265px;
}

.topDescriptionRecentActivity{
  color: rgb(78, 92, 110);
  font-size: 18px;
  font-weight: 500;
}

.underDescriptionRecentActivity{
  color: #9ba6b2;
  font-size: 14px;
}

.amountRecentActivity{
  display: flex;
  flex-direction: column;
  text-align: right;
}

.assetAmountRecentActivity{
  font-size: 18px;
  color:#4e5c6e;
}

.cashAmountRecentActivity{
  color: #9ba6b2;
  font-size: 14px;
}

.firstHalfRecentActivityTableRow{
  display: flex;
  align-items: center;
}

.secondHalfRecentActivityTableRow{
  display: flex;
  align-items: center;
}
