.RecentActivity {
  padding-bottom: 125px;
  font-family: "Avenir Next", -apple-system, system-ui, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
  margin-right: 20px;
  margin-left: 25px;
  width: 598px;
  background-color: white;
  margin-bottom: 125px;
}

.headerRA{
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 22px;
  font-weight: 500;
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  height: 54px;
  font-size: 18px;
  color: #1652f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.recentActivityTableRow {
  background-color: white;
  display: flex;
  align-items: center;
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  height: 48px;
  padding: 20px;
  font-size: 16px;
}
.dateRecentActivity {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 29px;
  width: 29px;
  margin-top: 5px;
  margin-right: 20px;
}

.dateRecentActivityMonth{
  color: #4e5c6e;
  font-size: 14px;
}
.dateRecentActivityDay{
  color: #9ba6b2;
  font-size: 22px;
}
.recentActivitySVG {
    width: 42px;
    height: 42px;
    stroke-width: 0.8;
}

.footerRA{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #DCDCDC;
  height: 54px;
  font-size: 16px;
  color: #7d95b6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
