.BuyAssetYouAreBuying{
  padding: 25px;
  width: auto;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f7fa;
}
.Buy{
  width: auto;
}
.html{
  width: auto;
}
