.BuyAsset{
  border: 1px solid rgb(218, 225, 233);
  border-radius: 4px;
  height: 100%;
  background-color: white;

}
.BuyAssetNavBar{
  font-family: "Avenir Next", -apple-system, system-ui, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  width: 600px;
  height: 54px;
  cursor: pointer;
}
.BuyNav{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: white;
  color: #0667d0;
  border-top: 1px solid #0667d0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-right: 1px solid rgb(218, 225, 233);
}
.SellNav{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  color: #7d95b6;
  background-color: #f9fbfc;
  border-bottom: 1px solid rgb(218, 225, 233);
}

.BuyCryptocurrency{
  display: flex;
  margin-left: 20px;
  flex-direction: column;

}
.BuyCryptocurrencyAssetP{
font-family: "Avenir Next", -apple-system, system-ui,
"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
color:#0667d0;
font-size: 18px;
margin-bottom: 10px;
margin-top: 10px;
font-weight: 600;
margin-left: 20px;
}
.BCRRowAndInput{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.BCRInput{
  margin-left: 20px;
}
.BuyCryptocurrencyRow:hover{
   opacity:1.0;
   transform: scale(1.05);
   cursor: pointer;
}
.BuyCryptocurrencyRow{
  opacity:0.90;
  display: flex;
  align-items: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  width: 480px;
  height: 52px;
  border: 1px solid rgb(218, 225, 233);
  justify-content: space-between;
}
.BCRImageNames{
  display: flex;
  align-items: center;
  height: 100%;
}

.BCRImage{
  height: 32px;
  width: 32px;
  margin-right: 10px;
}
.BCRNames{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Avenir Next", -apple-system, system-ui,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.BCRName{
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.BCRSymbol{
  color: white;
  font-size: 12px;
}
.BCRPrice{
  font-family: "Avenir Next", -apple-system, system-ui,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 18px;
}
.buyAssetPriceConverterDiv{
  font-family: "Avenir Next", -apple-system, system-ui,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 512px;
  margin-top: 5px;
}
.inputUSDAmountBuy{
  width: 200px;
  border: 1px solid rgb(218, 225, 233);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
}
.inputAssetAmountBuy{
  font-size: 18px;
  width:200px;
  border: 1px solid rgb(218, 225, 233);
  padding: 20px;
  border-radius: 4px;
}
.inputAssetAmountBuy::placeholder, .inputUSDAmountBuy::placeholder{
  font-size: 18px;
  color:rgb(155, 166, 178);
}
.buyButton:hover, .buttonSendTransactionDiv:hover{
  transform: scale(1.07);
  border-radius: 50%;
  font-size: 20px;
}
.buyButton{
  margin-top: 15px;
  font-weight: 500;
  margin-left: 20px;
  border-radius: 5px;
  width: 510px;
  height: 68px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "Avenir Next", -apple-system, system-ui,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.nameClickedPBuy{
  font-family: "Avenir Next", -apple-system, system-ui,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #f8b700;
  font-size: 14px;
  margin-left: 20px;
}
