
.addCardDiv{
  margin-left: 20px;
  display: flex;
  align-items: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  width: 480px;
  height: 68px;
  border: 1px solid rgb(218, 225, 233);
  justify-content: space-between;
  color: rgb(78, 92, 110);
  fill: rgb(6, 103, 208);
}
.addCardDiv:hover, .addCardDiv:active, .addCardDiv:focus{
  cursor: pointer;
  background-color: #1652f0;
  color: white;
  fill: white;
}

.addCardText{
  display: flex;
  align-items: center;

}
.addCardTextP{
  font-family: "Avenir Next", -apple-system, system-ui,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.houseSVGDiv{
  height: 32px;
width: 32px;
background-color: rgb(235, 241, 250);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-right: 10px;
}
.houseSVG{
  fill: rgb(6, 103, 208);
}
.addCardSVG{
  margin-right: 10px;
}
.hasCardDiv{
  margin-left: 20px;
  display: flex;
  align-items: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  width: 480px;
  height: 68px;
  border: 1px solid rgb(218, 225, 233);
  justify-content: space-between;
}

.cardInfoDiv{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-family: "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.cardInfoType{
  font-size: 18px;
  color: rgb(78, 92, 110);
}
.cardInfoDivFlex{
  display: flex;
  align-items: center;
}
.cardTypeBuy{
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
}
.cardInfoNumber{
  font-size: 16px;
  font-weight: 300;
  color: #9ba6b2;
}
.deleteCardP{
  margin-left: 20px;
  margin-top: 4px;
  font-weight: 500;
  font-size: 11px;
  color: #9ba6b2;
  cursor: pointer;
  font-family: "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.deleteCardP:hover{
  text-decoration: underline;
}
.visaSVG, .masterCardSVG{
  height: 38px;
  width: 38px;
}

.addCardName{
  font-size: 18px;
  font-weight: 500;
  color: rgb(78, 92, 110);
  width: 410px;
  margin-top: 5px;
  padding: 20px;
  height: 25px;
  border: 1px solid rgb(218, 225, 233);
  border-radius: 4px;
}
