
.Receipt{
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 20px;
  border: 6px outset rgb(218, 225, 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 409px;
  width: 390px;
  padding: 24px;
  background-color: white;
}
.receiptHeaderDiv{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(188, 209, 238);
}
.receiptHeader{
  text-align: center;
  letter-spacing: 2px;
}
.receiptAmount {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  margin-top: 5px;
}

.receiptPrice{
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
.receiptPaymentDiv{
  font-weight: 500;
  margin-top: 10px;
  border-bottom: 1px solid rgb(188, 209, 238);
}
.receiptDetails{
  font-size: 20px;
}
.receiptPaymentMethod{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.receiptPaymentMethodDetails{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.receiptCard{
  display: flex;
  align-items: center;
  text-align: center;
}
.receiptPMP{
  font-size: 20px;
  margin-bottom: 5px;
}
.receiptNumbers{
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
}
.receiptNumbersAmount{
  display: flex;
  justify-content: center;
}
.receiptLastFourDigits{
  margin-left: 5px;
}
.receiptLFDDiv{
  display: flex;
  align-items: center;
}
