
.Receipt{
  border-radius: 10%;
  border: 1px solid rgb(218, 225, 233);
  font-family: "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 409px;
  width: 350px;
  padding: 24px;
  background-color: white;
}
.receiptHeaderDiv{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(188, 209, 238);
}
.receiptHeader{
  text-align: center;
  letter-spacing: 2px;
}
.receiptAmount {
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  margin-top: 5px;
}

.receiptPrice{
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
.receiptPaymentDiv{
  font-weight: 500;
  margin-top: 10px;
  border-bottom: 1px solid rgb(188, 209, 238);
}
.receiptDetails{
  font-size: 14px;
}
.receiptPaymentMethod{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.receiptPaymentMethodDetails{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.receiptCard{
  text-align: center;
}
.receiptPMP{
  font-size: 14px;
  margin-bottom: 5px;
}
.receiptNumbers{
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
}
.receiptNumbersAmount{
  display: flex;
  justify-content: center;
}
