.Welcome-CenterMessage {
  margin-top: 55px;
 display:flex;
 justify-content: center;
 align-items: flex-start;
 flex-direction: column;
 margin-left: 25px;
}

.Welcome-Center-Header {
  font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 font-size: 48px;
 color:white;
 font-weight: 600;
 padding-top: 24px;
 padding-bottom: 24px;
}

.invalidEmailWelcome{
  font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-top: 10px;
  font-size: 18px;
  color: red;
  font-weight: 500;
  outline: none;
  border-color: #9ecaed;
}

.Welcome-Center-pTag-Div {
  font-size: 16px;
  color:#ffffff;
  font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-bottom: 25px;
}

.centerForm {
  display: flex;
  font-size: 16px;
  font-family: Graphik, sans-serif;
}
.centerInput {
  background-color: white;
  width: 317px;
  height: 50px;
  margin-right: 10px;
  text-align: start;
  border-radius: 4px;
  padding-left: 16px;
}

.centerInput:focus{
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 20px #9ecaed;
}
.centerButton{
  width: 152px;
  height: 50px;
  background-color: #3acc8a;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.centerButton:hover {
  background-color: #00a86c;
}
