.CustomersServed{
  height: 205px;
  font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  background-color: #1652f0;
  color: white;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.threeDivsCS{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: cover;
}

.littleCustomersServed{
  font-size: 16px;
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.divCustomersServed {
  width: 378px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
