.GetStarted {
  font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  width: cover;
  height: 413px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.GSPillarLine {
  background-color: #bac5d4;
  width: 124px;
  height: 1px;
}

.GetStartedDivs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 90%;
}

.GetStarted h1 {
  margin-top: 60px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.GetStartedDivs img {
  height: 70px;
  width: 70px;
}

.GSThreeDivs{
  width: 175px;
  height: 147px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.GSThreeDivs h3 {
  text-align: center;
}
