.WelcomeHeader {
  display: flex;
  justify-content: space-between;
}
.Welcome-Logo {
  letter-spacing: -1px;
  margin-left: 25px;
  font-size: 31px;
}

.Welcome-Sessions {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.Welcome-Login {
  color: white;
  font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;

  margin-right: 5px;
}

.Welcome-Login:hover{
  color: white;
}

.Welcome-Signin:hover{
  color: white;
}

.HeaderLink {
  text-decoration: none;
}

.HeaderLink:hover {
  text-decoration: none;
}

.Welcome-Signin {
  color: white;
  font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 18px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
